.THIS h1{
  font-size: 20px;
}

.THIS .slds-card__footer {
  border-color: rgb(220 220 220);
}

.THIS ol {
  margin-left: 12px;
}

.THIS ol li, .THIS p {
  font-size: 15px;  
  text-align: left;
}

.THIS ol li span {
  font-weight: 600;
}
