.THIS .container-empty{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.THIS .container-empty h1 {
  text-align: center;
  margin-bottom: 0;
  line-height: 1;
  font-size: 24px;
  font-weight: 500;
  color: rgb(134	129	155);
}
